[role="button"] {
  margin-top: 0.5em;
  display: inline-block;
  position: relative;
  padding: .4em .7em;
  border: 1px solid hsl(280, 82%, 30%);
  border-radius: 5px;
  box-shadow: 0 1px 2px hsl(295, 27%, 54%);
  color: #fff;
  text-shadow: 0 -1px 1px hsl(216, 27%, 25%);
  background-color: hsl(277, 89%, 60%);
}

[role="button"]:hover {
  border-color: hsl(280, 82%, 30%);
  background-color: hsl(280, 82%, 30%);
  cursor: pointer;
}

[role="button"]:focus {
  outline: none;
}

[role="button"]:focus::before {
  position: absolute;
  z-index: -1;
  /* button border width - outline width - offset */
  top: calc(-1px - 3px - 3px);
  right: calc(-1px - 3px - 3px);
  bottom: calc(-1px - 3px - 3px);
  left: calc(-1px - 3px - 3px);
  border: 3px solid hsl(213, 71%, 49%);
  /* button border radius + outline width + offset */
  border-radius: calc(5px + 3px + 3px);
  content: '';
}

[role="button"]:active {
  border-color: hsl(288, 71%, 49%);
  background-color: hsl(216, 82%, 31%);
  box-shadow: inset 0 3px 5px 1px hsl(288, 81%, 30%);
}

[role="button"][aria-pressed] {
  border-color: hsl(261, 71%, 49%);
  box-shadow: 0 1px 2px hsl(261, 27%, 55%);
  text-shadow: 0 -1px 1px hsl(261, 27%, 25%);
  background-color: hsl(261, 82%, 51%);
}

[role="button"][aria-pressed]:hover {
  border-color: hsl(261, 71%, 29%);
  background-color: hsl(261, 82%, 31%);
}

[role="button"][aria-pressed="true"] {
  padding-top: .5em;
  padding-bottom: .3em;
  border-color: hsl(261, 71%, 49%);
  background-color: hsl(261, 82%, 31%);
  box-shadow: inset 0 3px 5px 1px hsl(261, 82%, 30%);
}
