body{
  background-color: rgb(186, 185, 182);
  font-family: serif;
  font-size: large;
}

input.input_tipe{
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.2em dashed;
}

input.data_tipe{
  width: 5.5em;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.2em dashed;
}

input#segni_particolari_tex_in_due, input#segni_particolari_tex_in_tre{
  display: block;
  width: 20.4em;
  margin-left: 0.5em;
}

input#segni_particolari_tex_in_due{
  margin-top: 1em;
}

input.data_tipe, input.input_tipe, input#segni_particolari_tex_in_due,
input#segni_particolari_tex_in_tre{
  font-weight: bold;
  font-style: italic;
}

label.data_lable{
  width: 5em;
  font-style: italic;
}

label.input_tipe{
  font-style: italic;
}

p#segni_particolari{
  font-weight: bold;
  color: rgb(190, 113, 173);
  margin-top: 1em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  font-size: 19px;
  width: 30em;
}

div.virtial_frame{
  position: absolute;
  left: 25%;
  display: inline-flex;
  background-color: rgb(244, 198, 254);
}

div.div_divisore_dati_uno{
  border: 0.2em solid;
  float: left;
  padding: 0.5em;
  width: 23em;
  height: 40em;
}
div.div_divisore_dati_due{
  border: 0.2em solid;
  float: left;
  padding: 0.5em;
  width: 23em;
  height: 40em;
  margin-left: 1em;
}

table.dati_personali{
  width: 13em;
  background-color: white;
  font-weight: bold;
  margin-top: 0.5em;
  height: 16em;
  border-style: solid;
  border-color: black;
}

img#foto_card{
  background-color: white;
  position: relative;
  left: 3.2em;
  top: 0.5em;
  height: 14em;
  width: 16em;
  padding: 0.5em;
  border-style: solid;
}

img#imp_digitale{
  position: relative;
  left: 2em;
  height: 8em;
  width: 5em;
  background-color: transparent;
}

img#spazio_timbro_comunale{
  position: relative;
  left: 3em;
  top: 2.5em;
  height: 7em;
  width: 7em;
  background-color: transparent;
}

input#firma_sindaco_text_int{
  position: relative;
  left: 1em;
  width: 10em;
}

p#sindato_digitura{
  position: relative;
  font-weight: bold;
  left: 4.5em;
  margin-top: 1.5em;
  font-size: large;
}

div.posizione_dati_personali{
  display: inline-flex;
}

input {
  font-size: large;
}

input#firma_tex_tre, input#firma_tex_due{
  width: 10em;
  margin-top: 0.8em;
}

input#firma_tex_uno{
  width: 14.5em;
  margin-top: 1em;
}

/*Setting lunghezza del input metod*/
input#statura_tex_in, input#capelli_tex_in{
  width: 18em;
}

input#segni_particolari_tex_in_uno{
  width: 14.5em;
}

input#cognome_tex_in{
  width: 17.5em;
}

input#cittadinanza_tex_in{
  width: 15.5em;
}

input#residenza_tex_in, input#stato_civile_tex_in, input#professione_tex_in{
  width: 16em;
}

input#atto_text_in_uno, input#p_text_int_uno, input#s_text_int_uno{
  width: 5.3em;
}

input#a_text_int, input#parentesi_aperta_text_int_uno{
  margin-top: 0.8em;
  width: 9.5em;
}

input#name_tex_in, input#occhi_tex_in{
  width: 18.2em;
}

div#tab_pane_pos{
  float: left;
  max-width: 18%;
}
