.descrizioni {
  width: 20em;
  font-family: sans-serif;
  font-weight: bold;
  color: rgb(191, 64, 252);
}

[role="tablist"] {
  margin: 0 0 -.1em;
  overflow: visible;
}

[role="tab"] {
  position: relative;
  margin: 0;
  padding: .3em .5em .4em;
  border: 1px;
  border-radius: .2em .2em 0 0;
  box-shadow: 0 0 .2em hsl(240, 14%, 87%);
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  background: rgb(244, 198, 254);
}

[role="tab"]:hover::before,
[role="tab"]:focus::before,
[role="tab"][aria-selected="true"]::before {
  position: absolute;
  bottom: 100%;
  right: -1px;
  left: -1px;
  border-radius: 0.2em 0.2em 0 0;
  border-top: 3px solid hsl(287, 95%, 50%);
  content: '';
}

[role="tab"][aria-selected="true"] {
  border-radius: 0;
  background: rgb(244, 198, 254);
  outline: 0;
  color: rgb(118, 7, 247);
  font-weight: bold;
}

[role="tab"][aria-selected="true"]:not(:focus):not(:hover)::before {
  border-top: 5px solid rgb(159, 84, 246);
}

[role="tab"][aria-selected="true"]::after {
  position: absolute;
  z-index: 3;
  bottom: -1px;
  right: 0;
  left: 0;
  height: .3em;
  background: hsl(240, 0%, 24%);
  box-shadow: none;
  content: '';
}

[role="tab"]:hover,
[role="tab"]:focus,
[role="tab"]:active {
  outline: 0;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
}

[role="tab"]:hover::before,
[role="tab"]:focus::before {
  border-color: rgb(191, 64, 252);
}

[role="tabpanel"] {
  display: none;
  position: relative;
  z-index: 2;
  padding: .5em .5em .7em;
  border: 1px solid hsl(289, 96%, 88%);
  border-radius: 0 .2em .2em .2em;
  box-shadow: 0 0 .2em hsl(288, 83%, 76%);
  background: hsl(289, 96%, 88%);
  color: black;
  font-weight: bold;
  font-style: italic;
  max-width: 20em;

}

[role="tabpanel"]:focus {
  border-color: hsl(19, 2%, 73%);
  box-shadow: 0 0 .2em hsl(0, 1%, 65%);
  outline: 0;
}

[role="tabpanel"]:focus::after {
  position: absolute;
  bottom: 0;
  right: -1px;
  left: -1px;
  border-bottom: 3px solid hsl(289, 96%, 88%);
  border-radius: 0 0 0.2em 0.2em;
  content: '';
}

[role="tabpanel"] p {
  margin: 0;
}

[role="tabpanel"] * + p {
  margin-top: 1em;
}
